<div>
        <header>
            ANG APP Header
        </header>
        <hr/>
        
        <app-prod></app-prod>
        <app-detail></app-detail>

        <hr/>
        <footer>
            Ang App Footer
        </footer>
</div>


<!--
     <div class="row">
            <div class="col-md-3 col-xs-6">
                <input type="text"/>
            </div>
            <div class="col-md-3 col-xs-6">
                <input type="text"/>
            </div>
            <div class="col-md-3 col-xs-6">
                    <input type="text"/>
            </div>
            <div class="col-md-3 col-xs-6">
                    <input type="text"/>
            </div>
               
        </div>
-->