<div class="panel panel-primary">
    <div class="panel-heading">
        Product App
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <p>Filter By:</p>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="enter your text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <h4>Number of product filter:</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>UI</td>
                    </tr>
                    <tr>
                        <td>Andy</td>
                        <td>AI</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>